.home-mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000000;
}

.home-container {
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home-container .logo {
  display: block;
  justify-content: start;
}
.bottom-container {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  margin-top: 20px;
}
.bottom-left {
  color: white;
  width: 50%;
  margin: 2rem;
}
.bottom-left h1 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.bottom-left p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.bottom-left span {
  color: gray;
}
.bottom-right {
  width: 50%;
}
.bottom-right img {
  width: 100%;
}
.home-btn {
  font-size: 1.5rem;
  padding: 1rem 2.5rem;
  margin: 5rem 0;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  border-radius: 0.4rem;
  cursor: pointer;
  text-transform: uppercase;
  background-color: rgb(14, 14, 26);
  color: rgb(234, 234, 234);
  font-weight: 700;
  transition: 0.6s;
  box-shadow: 0px 0px 60px #479fcf;
  -webkit-box-reflect: below 10px
    linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4));
}

.home-btn:active {
  scale: 0.92;
}

.home-btn:hover {
  background: rgb(2, 29, 78);
  background: linear-gradient(
    270deg,
    rgba(2, 29, 78, 0.681) 0%,
    rgba(31, 215, 232, 0.873) 60%
  );
  color: rgb(4, 4, 38);
}
